*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-image: linear-gradient(#111,#222);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    clip-path: circle(30% at right 70% );
    z-index: -1;
}
.counter{
    background-color: rgba(255, 255, 255, 0.1);
    width: 90%;
    height: 640px;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow:hidden ;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.logo{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    font-weight: 700;
}
ul{
    flex-wrap: wrap;
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 0.5px;
}
ul a{
    border-bottom: 2px solid transparent;
    font-size: larger;
}
ul a:hover{
    border-bottom-color: white;
    color: rgba(255, 217, 0, 0.742);
}
.content{
    color: white;
    padding: 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.content .text{
    color: white;
    width: 40%;
}
.content .text {
    letter-spacing: 2px;
    font-weight: 400;
    gap: 3px;
    padding: 10px 10px;
    text-transform: uppercase;
}
.content .text{
    width: 40%;
    letter-spacing:1px ;
    gap: 2px;
    line-height: 30px;
    font-size: 18px;
    margin: 10px 0;
}
.content .imag{
    width: 40%;
}
.content .image img{
    width:400px ;
}
@media (min-width :950px) and (max-width:1150px) {
    .content .image img{
    width:330px ;
}
}
@media  (max-width:950px) {
    .content, header{
        flex-direction: column;
        justify-content: center;
       
    }
    .content .image , .content .text{
    width:100% ;
}
    body::after{
    clip-path:circle(50% at bottom);
}
}